body {
    background-color: #03041A;
}

.card { 
    background-color: #c3c5e4;
}



.navbar {
    background-color: #222339;
}

.img1 {
    width: 200%;
    height: 200%;
    position:relative;
}

.table {
    color: #f4f5f5;
}
