body {
    background-image: url('/images/mur1.jpg');
    background-size: cover;
    min-height: 1000px;
}

.logo1 {
    width: 200px;
    height: 200px
}

.card {
    width: 70%;
    left: 15%;
  background-color: #FBFBE5;
  border: #311F15;
}