{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div class="card">

    <a class="btn btn-info crud-link" href="{{ path('app_crud_index') }}">Voir tout les modules</a>

</div>
{% endblock %}
