{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<div class="card">
<br>
<h1>Bienvenue</h1>
<br>
    <h3>Il y a actuellment {{contmod}} modules de disponible</h3>

    <a class="btn btn-info crud-link" href="{{ path('app_crud_index') }}">Voir tout les modules</a>

</div>
{% endblock %}
